<div class="back-to-top-container back-to-top-container--intersecting" data-controller="viewport-entrance-toggle" data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
  <button class="back-to-top__button button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">Back to top</button>
</div>
<div class="demo-content"></div>
